button {
  border: 0;
  padding: 0;
  font-family: inherit;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  background: #19191c;
  color: #f9f9f9;
  // font-family: "Poppins";
  box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
  .navbar {
    justify-content: space-between;
    padding: 0 0 0 16px;
  }
}

.navbar-overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

body.open .navbar-overlay {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  .navbar-overlay {
    display: none;
  }
}

.navbar-burger {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .navbar-burger {
    display: none;
  }
}

.navbar-title {
  margin: 0;
  font-size: 22px;
  color: $grayD;
  font-family: "Poppins";
  &:hover {
    color: $grayD;
  }
}

.navbar-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  translate: -100% 0;
  width: 270px;
  height: 100%;
  padding: 20px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  background: #000000;
  visibility: hidden;
  transition: translate 0.3s;
}

body.open .navbar-menu {
  translate: 0 0;
  visibility: visible;
}

@media only screen and (min-width: 600px) {
  .navbar-menu {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    visibility: visible;
  }
}

.navbar-menu > button {
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  padding: 0 8px;
}

.navbar-menu > button.active {
  color: inherit;
}

#nav--bar {
  .username-- {
    color: $orangeD;
    text-transform: capitalize;
  }
  .account--popup {
    display: flex;
    flex-direction: column;
    background-color: $grayL-trans;
    color: white;
    border-radius: 7px;
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 2;
    width: 250px;
    min-height: 340px;
    padding: 1rem;
    color: $grayD;

    .account--info {
      text-align: center;
      margin-bottom: 1.5rem;
      .image--logo {
        width: 70px;
      }
      p {
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
        line-height: 1.3;
      }
    }

    .btn-danger {
      border-bottom: 1px solid $grayD;
      text-align: left;
      padding: 1rem 0;
      cursor: pointer;
      &:hover {
        color: $orangeD;
      }
    }

    .account--close-btn {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
        rgb(51, 51, 51) 0px 0px 0px 3px;
      border-radius: 3px;
      color: $danger;
      padding: 0.01rem 0.5rem;
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-weight: 800;
      width: 20%;
      &:hover {
        box-shadow: rgba(75, 4, 4, 0.16) 0px 1px 4px,
          rgb(87, 4, 4) 0px 0px 0px 3px;
      }
    }

    .list-group-item {
      background-color: $grayD;
      border: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  #nav--bar {
    .account--popup {
      left: 10px;
      top: 120px;
    }
  }
}
